@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color: #1E1E1E;
  --bg-color-opacity: rgba(30, 30, 30, 0.4);
  --text-description: #D1D1D1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}
